.layout-actions,
.layout-actions-top,
.layout-actions-bottom {
  border: 2px dashed #ccc;
  background-color: #f8f9fa;
}

.layout-actions-top {
  width: 400px;
  height: 100px;
}

.layout-actions-bottom {
  width: 400px;
  height: 300px;
}